In [1]:
import os
import pandas as pd
os.chdir('/Users/ericehlert/rp')

from src.functions.get_json import get_json
from src.functions.extract_blocks import extract_blocks, add_page_id
from src.functions.extract_cells import extract_cell_blocks
from src.functions.eee_extract_metadata import filter_blocks_by_terms

In [2]:
root = 'textract_jobs/staging'
files = get_json(root, ['1-100.json', '101-300.json', '750-999.json'])

In [3]:
cells_old = extract_cell_blocks(files)

Extracted Cells DataFrame has 96132 rows and 22 columns

In [4]:
from src.functions.extract_cells_new import extract_cell_blocks as cells_new

In [5]:
cells_new = cells_new(files)

Extracted Cells DataFrame has 96132 rows and 22 columns

In [6]:
cells_old.to_csv('cells_old.csv', index=False)

In [7]:
cells_new.to_csv('cells_new.csv', index=False)

In [9]:
from src.functions.process_cells_df import process_cells_dataframe

In [10]:
processed = process_cells_dataframe(cells_new)

Processed Cells DataFrame has 96132 rows and 24 columns

In [11]:
processed.head()

,cell_id,cell_type,entity_type,cell_words,cell_content,cell_width,cell_height,cell_left,cell_top,row_index,...,table_type,table_width,table_height,table_left,table_top,table_polygon,page_id,source,merged_parent_cell_id,has_merged_parent
69598,428073c6-299d-4272-bbd3-d0ac3bfa59b6,TABLE_TITLE,None,"[Trip, Unit, Settings]",Trip Unit Settings,0.845572,0.021403,0.086389,0.463036,0,...,STRUCTURED_TABLE,0.845771,0.299216,0.08764,0.462069,"[{'X': 0.08763951808214188, 'Y': 0.46269810199...",c4068bad-16c7-46eb-bca9-bf4496a96e76,750-999.json,None,0
69518,d8f19ff7-799f-4a91-af81-e9fb623cd012,CHILD,TABLE_TITLE,"[Trip, Unit, Settings]",Trip Unit Settings,0.221201,0.021520,0.087440,0.462512,1,...,STRUCTURED_TABLE,0.845771,0.299216,0.08764,0.462069,"[{'X': 0.08763951808214188, 'Y': 0.46269810199...",c4068bad-16c7-46eb-bca9-bf4496a96e76,750-999.json,3794ae51-54bd-43ca-90ab-79c08b479a2d,1
69593,3794ae51-54bd-43ca-90ab-79c08b479a2d,MERGED_CELL,TABLE_TITLE,[],,0.845572,0.021962,0.087640,0.462069,1,...,STRUCTURED_TABLE,0.845771,0.299216,0.08764,0.462069,"[{'X': 0.08763951808214188, 'Y': 0.46269810199...",c4068bad-16c7-46eb-bca9-bf4496a96e76,750-999.json,None,0
69523,db6d13c1-2282-4577-91c6-eeb11fdda4c1,CHILD,COLUMN_HEADER,[Element],Element,0.221002,0.019851,0.087650,0.483867,2,...,STRUCTURED_TABLE,0.845771,0.299216,0.08764,0.462069,"[{'X': 0.08763951808214188, 'Y': 0.46269810199...",c4068bad-16c7-46eb-bca9-bf4496a96e76,750-999.json,None,0
69528,a441f1f5-2720-4118-9dc8-95493f9d62b8,CHILD,TABLE_SECTION_TITLE,"[Long, Time, Element, Settings]",Long Time Element Settings,0.221202,0.019851,0.087461,0.503555,3,...,STRUCTURED_TABLE,0.845771,0.299216,0.08764,0.462069,"[{'X': 0.08763951808214188, 'Y': 0.46269810199...",c4068bad-16c7-46eb-bca9-bf4496a96e76,750-999.json,b36b94e0-1c4d-48e3-8021-d2bd1975a088,1